body {
	background-color: black;
	text-align: center;
	font-family: arial;
	color: white;
	margin-bottom: 60px;
}

a {
	text-align: center;
	font-family: arial;
	color: white;
	margin-bottom: 60px;
}

.center { 
	margin-right: auto; 
	margin-left: auto; 
	width: 1200px; 
	display: block;
}

